<div class="container">
  <h3>Library Card V4</h3>
  <div class="sb--card sb--card--theme2 version4" tabindex="0">
    <div class="sb--card__main-area">
      <!-- card img -->
      <div class="sb--card__img sb--card__image-pos">
        <div class="img-container">
          <img
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt=""
          />
        </div>
      </div>
      <!-- card type -->
      <div class="sb--card__type">Content Type</div>
    </div>

    <!-- card mobile view details -->
    <div class="sb--card__info">
      <div class="sb--card__meta">
        <div
          class="
            sb__ellipsis sb__ellipsis--two
            text-left
            flex-basis-1
            title-info
          "
          title=""
        >
          Content Name
        </div>
      </div>
      <div class="subject-info">
        Subject :
        <div class="truncated-ellipsis-container">
          <span> telugu... +2</span>
        </div>
      </div>
      <div class="sb--card__meta1 text-left">
        <span class="data_1 mr-8" title="">
          <div class="truncated-ellipsis-container">
            <span> se_boards</span>
          </div>
        </span>
        <span class="data_2" title="">
          <div class="truncated-ellipsis-container">
            <span> se_mediums</span>
          </div>
        </span>
        <span class="data_3" title="">
          <div class="truncated-ellipsis-container">
            <span> se_gradeLevels</span>
          </div>
        </span>
      </div>
      <div class="subject-info text-info">Published by : Content Creator</div>
    </div>
  </div>

  <h3>Library Card V4(Selected)</h3>
  <div class="sb--card sb--card--theme2 version4 selected" tabindex="0">
    <div class="sb--card__main-area">
      <!-- card img -->
      <div class="sb--card__img sb--card__image-pos">
        <div class="img-container">
          <img
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt=""
          />
        </div>
      </div>
      <!-- card type -->
      <div class="sb--card__type">Content Type</div>
    </div>

    <!-- card mobile view details -->
    <div class="sb--card__info">
      <div class="sb--card__meta">
        <div
          class="
            sb__ellipsis sb__ellipsis--two
            text-left
            flex-basis-1
            title-info
          "
          title=""
        >
          Content Name
        </div>
      </div>
      <div class="subject-info">
        Subject :
        <div class="truncated-ellipsis-container">
          <span> telugu... +2</span>
        </div>
      </div>
      <div class="sb--card__meta1 text-left">
        <span class="data_1 mr-8" title="">
          <div class="truncated-ellipsis-container">
            <span> se_boards</span>
          </div>
        </span>
        <span class="data_2" title="">
          <div class="truncated-ellipsis-container">
            <span> se_mediums</span>
          </div>
        </span>
        <span class="data_3" title="">
          <div class="truncated-ellipsis-container">
            <span> se_gradeLevels</span>
          </div>
        </span>
      </div>
      <div class="subject-info text-info">Published by : Content Creator</div>
    </div>
  </div>

  <h3>Library Card V4(Offline)</h3>
  <div class="sb--card sb--card--theme2 version4 offline" tabindex="0">
    <div class="sb--card__main-area">
      <!-- card img -->
      <div class="sb--card__img sb--card__image-pos">
        <div class="img-container">
          <img
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt=""
          />
        </div>
      </div>
      <!-- card type -->
      <div class="sb--card__type">Content Type</div>
    </div>

    <!-- card mobile view details -->
    <div class="sb--card__info">
      <div class="sb--card__meta">
        <div
          class="
            sb__ellipsis sb__ellipsis--two
            text-left
            flex-basis-1
            title-info
          "
          title=""
        >
          Content Name
        </div>
      </div>
      <div class="subject-info">
        Subject :
        <div class="truncated-ellipsis-container">
          <span> telugu... +2</span>
        </div>
      </div>
      <div class="sb--card__meta1 text-left">
        <span class="data_1 mr-8" title="">
          <div class="truncated-ellipsis-container">
            <span> se_boards</span>
          </div>
        </span>
        <span class="data_2" title="">
          <div class="truncated-ellipsis-container">
            <span> se_mediums</span>
          </div>
        </span>
        <span class="data_3" title="">
          <div class="truncated-ellipsis-container">
            <span> se_gradeLevels</span>
          </div>
        </span>
      </div>
      <div class="subject-info text-info">Published by : Content Creator</div>
    </div>
  </div>
</div>
