<div class="container">
  <h3>Library Card V3</h3>

  <div class="sb--card sb--card--theme2 version3" role="link" tabindex="0">
    <div class="sb--card__main-area">
      <!-- card img -->
      <div class="sb--card__img sb--card__image-pos">
        <div class="img-container">
          <img
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt=""
          />
        </div>
      </div>
      <!-- card mobile view details -->
      <div class="sb--card__info">
        <div class="data_3 ellipsis">TAGNAME</div>
        <div class="sb--card__meta1">
          <h4
            class="
              sb--card__title
              sb__ellipsis sb__ellipsis--two
              text-left
              flex-basis-1
            "
            title=""
          >
            Content Name
          </h4>
        </div>
        <div class="sb--card__details sb__ellipsis sb__ellipsis--two">
          <span title="">Content Subject</span>
        </div>
        <div class="sb--card__meta1 text-left">
          <div class="truncated-ellipsis-container">
            <span> Medium <span class="dot-divider"></span></span
            ><span>Grade Level</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Library Card V3 (Selected)</h3>

  <div
    class="sb--card sb--card--theme2 version3 selected"
    role="link"
    tabindex="0"
  >
    <div class="sb--card__main-area">
      <!-- card img -->
      <div class="sb--card__img sb--card__image-pos">
        <div class="img-container">
          <img
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt=""
          />
        </div>
      </div>
      <!-- card mobile view details -->
      <div class="sb--card__info">
        <div class="data_3 ellipsis">TAGNAME</div>
        <div class="sb--card__meta1">
          <h4
            class="
              sb--card__title
              sb__ellipsis sb__ellipsis--two
              text-left
              flex-basis-1
            "
            title=""
          >
            Content Name
          </h4>
        </div>
        <div class="sb--card__details sb__ellipsis sb__ellipsis--two">
          <span title="">Content Subject</span>
        </div>
        <div class="sb--card__meta1 text-left">
          <div class="truncated-ellipsis-container">
            <span> Medium <span class="dot-divider"></span></span
            ><span>Grade Level</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Library Card V3 (Desktop only)</h3>
  <div class="sb--card sb--card--theme2 version3" role="link" tabindex="0">
    <div class="sb--card__main-area">
      <!-- card img -->
      <div class="sb--card__img sb--card__image-pos">
        <div class="img-container">
          <img
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt=""
          />
        </div>
      </div>
      <!-- card mobile view details -->
      <div class="sb--card__info">
        <div class="data_3 ellipsis">TAGNAME</div>
        <div class="sb--card__meta1">
          <h4
            class="
              sb--card__title
              sb__ellipsis sb__ellipsis--two
              text-left
              flex-basis-1
            "
            title=""
          >
            Content Name
          </h4>
          <a role="button" aria-label="View more actions menu" class="menu"></a>
        </div>
        <div class="sb--card__details sb__ellipsis sb__ellipsis--two">
          <span title="">Content Subject</span>
        </div>
        <div class="sb--card__meta1 text-left">
          <div class="truncated-ellipsis-container">
            <span> Medium <span class="dot-divider"></span></span
            ><span>Grade Level</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Library Card V3 (Offline)</h3>
  <div
    class="sb--card sb--card--theme2 version3 offline"
    role="link"
    tabindex="0"
  >
    <div class="sb--card__main-area">
      <!-- card img -->
      <div class="sb--card__img sb--card__image-pos">
        <div class="img-container">
          <img
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt=""
          />
        </div>
      </div>
      <!-- card mobile view details -->
      <div class="sb--card__info">
        <div class="data_3 ellipsis">TAGNAME</div>
        <div class="sb--card__meta1">
          <h4
            class="
              sb--card__title
              sb__ellipsis sb__ellipsis--two
              text-left
              flex-basis-1
            "
            title=""
          >
            Content Name
          </h4>
        </div>
        <div class="sb--card__details sb__ellipsis sb__ellipsis--two">
          <span title="">Content Subject</span>
        </div>
        <div class="sb--card__meta1 text-left">
          <div class="truncated-ellipsis-container">
            <span> Medium <span class="dot-divider"></span></span
            ><span>Grade Level</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
